/*
作者: dakkk
主页：https://www.dakkk.top/
GitHub：https://github.com/dakavin
版权所有，请勿删除
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

@charset "utf-8";

/*全局样式*/

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #def6f1, #ffffff); /* 应用浅蓝到白色渐变背景色 */
  overflow-y: hidden; /* 禁止body本身的滚动 */
  font-family: "HarmonyOS_Regular", sans-serif, -apple-system-font, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Hiragino Sans GB, Microsoft YaHei UI, Microsoft YaHei, Arial; /* 合并字体样式 */
  color: #4c4e4d; /* 字体颜色 */
  font-size: 16px; /* 字体大小 */
  line-height: 1.6; /* 行高 */
}

/* #app 容器样式 */
#app {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: auto; /* 允许 #app 容器垂直滚动 */
  //z-index: 0; /*影响了前台页面退出弹窗！！！*/
}

[type='text']:focus, [type='email']:focus, [type='url']:focus, [type='password']:focus, [type='number']:focus, [type='date']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='week']:focus, [multiple]:focus, textarea:focus, select:focus {
  box-shadow: 0 0 0 1px transparent inset!important;
}

// 卡片样式
.cards {
  border-radius: 6px;
  background-color: #00000040;
  backdrop-filter: blur(10px);
  transform: scale(1);
  transition: backdrop-filter 0.3s, transform 0.3s;

  &:hover {
    transform: scale(1.01);
  }

  &:active {
    transform: scale(0.98);
  }
}

// 文字超出
.text-hidden {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// 文字滑动
// 通用代码部分 ⬇️
.scroll-wrap {
  margin-left: 8px;
  max-width: 100%;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  white-space: nowrap;
}

.scroll-item {
  animation: scroll linear 5s alternate infinite;
  float: left;
}

@keyframes scroll {
  0%, 10% {
    margin-left: 0;
    transform: translateX(0);
  }

  90%, 100% {
    margin-left: 100%;
    transform: translateX(-100%);
  }
}


// 弹窗样式
.el-message, .el-message--default, .message-default {
  --el-message-bg-color: rgba(0, 0, 0, 0.5) !important; /* 设置基础透明背景 */
  --el-message-text-color: #ffffff !important; /* 白色文字 */
  -webkit-backdrop-filter: blur(10px); /* WebKit浏览器模糊效果 */
  backdrop-filter: blur(10px); /* 标准的模糊效果 */
  border-radius: 25px !important; /* 圆角 */
  border-color: transparent !important; /* 透明边框 */
  padding: 10px 20px; /* 内边距 */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 轻微的阴影效果 */
  transition: all 0.3s ease; /* 平滑过渡动画 */

  .el-message__badge {
    display: none; /* 隐藏徽章 */
  }

  .el-message__content {
    white-space: pre-wrap; /* 允许自动换行，并保留空白字符 */
    overflow: hidden; /* 防止内容溢出 */
    text-overflow: ellipsis; /* 超出部分显示省略号 */
  }
}

.el-message--success {
  background-color: rgba(111, 207, 151, 0.6) !important; /* 半透明浅绿色背景 */
}

.el-message--info {
  background-color: rgba(144, 147, 153, 0.6) !important; /* 半透明浅灰色背景 */
}

.el-message--warning {
  background-color: rgba(230, 162, 60, 0.6) !important; /* 半透明浅橙色背景 */
}

.el-message--error {
  background-color: rgba(245, 108, 108, 0.6) !important; /* 半透明浅红色背景 */
}



// 进度条样式
.el-progress-bar {
  .el-progress-bar__outer {
    border-radius: 6px;
    background-color: #00000020;

    .el-progress-bar__inner {
      background-color: #efefef;
      border-radius: 6px;
      text-align: center;
      font-family: "UnidreamLED";

      span {
        color: #564d59;
        font-size: 0.9rem;
      }
    }
  }
}

// 卡片样式
.el-card {
  border-radius: 8px !important;
  border: 1px solid transparent !important;
  background-color: transparent !important;

  .el-card__header {
    font-weight: bold;
    padding: 16px 20px !important;
    background-color: #ffffff30 !important;
    border-bottom: 1px solid transparent !important;
  }

  .el-card__body {
    padding: 0 !important;
    background-color: #ffffff10 !important;
  }
}

// Transition 动画
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease-in-out;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

// keyframes 动画
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-blur-in {
  from {
    filter: blur(20px) brightness(0.3);
    transform: scale(1.6);
  }
  to {
    filter: blur(0) brightness(1);
    transform: scale(1);
  }
}

@keyframes fade-blur-main-in {
  from {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}

// 隐藏元素
@media (min-width: 910px) and (max-width: 1200px) {
  .sm-hidden {
    display: none;
  }
}

// 滚动条样式
::-webkit-scrollbar,
scrollbar {
  width: 6px;
  height: 6px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb,
scrollbar-thumb {
  border-radius: 10px;
  //background-color: #eeeeee;
  background-color: #3f9eff;
}

// 自定义鼠标
//#cursor {
//  position: fixed;
//  width: 18px;
//  height: 18px;
//  background: #000000;
//  border-radius: 25px;
//  opacity: 0.25;
//  z-index: 10086;
//  pointer-events: none;
//  transition: 0.2s ease-in-out;
//  transition-property: background, opacity, transform;
//
//  &.hidden {
//    opacity: 0;
//  }
//
//  &.active {
//    opacity: 0.5;
//    transform: scale(0.5);
//  }
//}

#cursor {
  position: fixed;
  width: 16px;
  height: 16px;
  background: radial-gradient(circle, rgb(5, 140, 215), rgba(0, 0, 0, 0.5));
  border-radius: 50%;
  z-index: 9999;
  pointer-events: none;
  transition: transform 0.15s ease-in-out, opacity 0.15s ease-in-out, background 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#cursor.hidden {
  opacity: 0;
}

#cursor.active {
  transform: scale(0.7);
  background: radial-gradient(circle, rgb(18, 150, 219), rgb(99, 169, 171));
  box-shadow: 0 0 10px rgb(18, 150, 219);
}

#cursor.hover {
  background: radial-gradient(circle, rgba(0, 255, 13, 0.8), rgba(128, 189, 128, 0.8));
  transform: scale(1.2);
  box-shadow: 0 0 10px rgba(0, 255, 13, 0.8);
}

* {
  cursor: none !important; /* 强制所有元素使用自定义光标 */
}

// 手机端样式设置
@media (max-width: 768px) {
  // 手机端，固定menu的宽度为 64px
  .menu-sidebar {
    width: 64px !important;
  }
  // 隐藏在手机端不需要的元素
  .hide-on-mobile {
    display: none;
  }
}

// 手机端admin.vue布局样式调整
@media (max-width: 768px) {
  /* 固定头部和侧边栏 */
  .el-aside, .el-header {
    position: fixed;
    top: 0;
    z-index: 200;  // 确保它们位于内容之上
    width: 100%;
  }

  /* 固定侧边栏 */
  .el-aside {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;  // 全屏高度
    width: 64px;  // 侧边栏宽度
    overflow-y: auto;  // 允许侧边栏内部滚动
    z-index: 300;
  }

  .el-header {
    right: 0;
    left: 0;
    height: 60px;  // 头部高度
  }

  /* 主内容区和页脚滚动 */
  .el-main, .el-footer {
    position: static;
    margin-top: 108px;  // 头部高度，保证内容不被头部遮挡
  }

  .el-footer {
    margin-top: 20px;  // 与主内容间隔
  }

  /* 让主内容区填充剩余空间 */
  #app {
    overflow-y: auto;  // 允许app内滚动
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0px;  // 侧边栏宽度
    right: 0;
    padding-bottom: 60px;  // 页脚高度
  }
}


















